* {
  box-sizing: border-box;
}

header {
  background: #FFDFE7;
}

header a {
  color: #FE3525;
  font-family: BigJohn;
  text-decoration: none;
  padding: 10px;
}

.header-grid {
  background: #FFDFE7;
  position: absolute;
  display: flex;
  justify-content:space-between;
  flex-flow: column;
  width: 100%;
  left: -100%;

}

.hamburger-checkbox:checked + .header-grid {
  left:0;
  transition: left 0.2s ease-out;
}

.hamburger-label {
  padding: 40px;
}

.hamburger-bar1,
.hamburger-bar2,
.hamburger-bar3 {
  width: 35px;
  height: 5px;
  background-color: #FE3525;
  margin: 6px 0;
  margin-left: 30px;
}

.hamburger-checkbox {
  display: none;
}

@media (min-width: 720px){
  .hamburger-label {
    display:none;
  }

  .header-grid {
    left:0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    height: 60px;
    padding: 40px;
  }
}
